@model MovieApp.Models.Movie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            Genre
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Category</th>
                </tr>
                @foreach (var item in Model.HaveCategories)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leads)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Name</th>
                </tr>
                @foreach (var item in Model.Leads)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Actor.Name)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
